/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* common */
.container {
	width: 70%;
	margin: auto;
}

/* Products */
.product {
	display: inline-block;
	width: calc(100% / 3);
	/* height: 200px; */
	/* background-color: lightblue; */
	/* border: 1px solid black; */
}
.product-img {
	position: relative;
}
.product-img img {
	display: block;
	width: 100%;
}

.product-info h3 {
	text-transform: uppercase;
}

.price {
	font-weight: bold;
	color: red;
}
.original-price {
	text-decoration: line-through;
}

.heart {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 30px;
	background-color: white;
	padding: 5px 20px;
}